.main-container.light{
  --main-color: #16262F;
  --secondary-color: #3A6073;
  --background-1: #ECE9E6;
  --background-2: #ffffff;
  --background-3: #16262F;
  --background-4: #3A6073;
}

.main-container {
  background: var(--background-1);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, var(--background-2), var(--background-1));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,var(--background-2), var(--background-1)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 100vh;
  color: var(--background-3);
}
