.form-item {    
    margin: 20px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-item span{
    font-size: .6rem;
    margin: 2px 20px;
    font-weight: 800;
    color:tomato;
    font-style: italic;
}

.form-item input.error{ 
    border-bottom: 2px solid tomato;
    color: tomato;
}

.form-item input.error::placeholder{ 
    color: tomato;
}

.form-item.dark input, .form-item.dark select{
    color: var(--background-3);
    border-bottom: 2px solid var(--background-3);
}

.form-item.dark select option {
    background: var(--background-1);
}

.form-item.light input, .form-item.light select{
    color: var(--background-3);
    border-bottom: 2px solid var(--background-3);
}

.form-item.light select option {
    background: var(--background-1);
}

.form-item input, .form-item select{
    border: none;
    border-bottom: 2px solid var(--background-1);
    width: 95%;
    margin: auto;
    padding: 5px;
    outline: none;
    background: none;
    color: var(--background-1)
}

.form-item input[type='submit']{
    background: var(--green);
    color:  #16262F;
    border: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 7px 0px #16262F;
}

.form-item input::placeholder{
    font-style: italic;
    font-weight: 300;
}

.form-item .input-image{
    display: flex;
    justify-content: center;
}

.form-item .input-image img{
    width: 140px;
}

.form-item .input-image a{
    height: fit-content;
}

.form-item .input-image a img{
    width: 15px;
}